<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>106BE154B68850E134417880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1689736F6A29281F79F132EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307E85CB3EF7452121FF646A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4558A55A84C53A6D4B999BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45695F1D13242CEF9090ED40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F45274C24AC94D9D3DFC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A964FDD4643920F138389A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B484EC5EBFE7A6ADE32E762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74AF607AAFC6C35D9CEE632F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8327F9C81095AF7CF49AC969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F19C3BE9E1B1950B303112A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932A181A18246B69C384BF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95771A7132088F83194807EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D1B27CCA6339D8B98188EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C40EBE2BAFD756B4D6DD2A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4DFAFEEE197D573FF77A341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD64E23D2BBB28C2F0A0759B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46A6052DA8E30A75810A5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF828596B3276FA091248D7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66655BA06B6BFC88635B501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFC5BBE77E6EB4DD52F09ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
